<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dirgha03.customermanagment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CMOrganizationDetails" />
        <activity android:name=".CMPersonDetails" />
        <activity android:name=".CMProductInfo" />
        <activity android:name=".CMInterestInfo" />
        <activity android:name=".CMListActivity" />
        <activity android:name=".CMDisplayOrg" />
        <activity android:name=".CMContactPersonActivity" />
        <activity android:name=".CMProductActivity" />
        <activity android:name=".CMInstrestedActivity" />
        <activity android:name=".CMNotIntrested"></activity>
    </application>

</manifest>